[airsonic]
air_user: "airsonic_username"
air_pass: "airsonci_password"
air_url: "https://airsonic.url.com"

[jellyfin]
jel_user: "jellyfin_user"
jel_pass: "jellyfin_password"
jel_url: "https://jellyfin.url.com"
